@import "./variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed&display=swap");

body {
  margin: 0;
  font-family: $body-font;
  font-size: 16px;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
